*{
	margin: 0;
}
body{
	overflow-x: hidden;
}
h1{
	text-align: center;
	font-weight: 800;
}
.formdiv{
	display: flex;
	justify-content: center;
}
.formdiv form{
	text-align: center;
}
.videodiv{
	display: flex;
	justify-content: center;
}
.sync{
	display: flex;
	justify-content: center;
	padding:30px 0;
}
/*chat styles*/
.chat-wrapper{
	display:flex;
	justify-content: center
}

/*chat-style end*/
#room-select{
	height: 100vh;
	width: 100vw;
	display: flex;
	align-items: center;
	position: absolute;
}
#room-select div{
	display: flex;
	flex-wrap: wrap;
	width: 100vw;
}
.rooms{
	flex:1 1 50%;
	min-width: 400px;
	display: flex;
	justify-content: center;
}
.join-room{
	position: absolute;
	background: rgba(0,0,0,0.7);
	height: 100vh;
	width: 100vw;
	display: none;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.join-room button{
	margin: 20px 0;
}
.close{
	cursor: pointer;
	position: absolute;
	right: 10px;
	top: 10px
}
#private-room{
	height: 100vh;
	width: 100vw;
	background: rgba(0,0,0,0.9);
	position: absolute;
	display: none;
	justify-content: center;
	align-items: center;
	z-index: 100;
	flex-direction: column;
}

#private-room h3{
	color: white;
	cursor: pointer;
}

#roompage{
	display: none;
}

#createroom{
	height: 100vh;
	width: 100vw;
	background: rgba(0,0,0,0.95);
	display: none;
	position: absolute;
	justify-content: center;
	align-items: center;
}